[submodule "mahimahi"]
	path = mahimahi
	url = https://github.com/yhcchaos/mahimahi.git
[submodule "pantheon-modified/third_party/indigo"]
	path = pantheon-modified/third_party/indigo
	url = https://github.com/yhcchaos/indigo.git
[submodule "pantheon-modified/third_party/vivace"]
	path = pantheon-modified/third_party/vivace
	url = https://github.com/yhcchaos/PCC-Uspace.git
	branch = NSDI-2018
[submodule "pantheon-modified/third_party/aurora/PCC-RL"]
	path = pantheon-modified/third_party/aurora/PCC-RL
	url = https://github.com/yhcchaos/PCC-RL.git
	branch = master
[submodule "pantheon-modified/third_party/aurora/PCC-Uspace"]
	path = pantheon-modified/third_party/aurora/PCC-Uspace
	url = https://github.com/yhcchaos/PCC-Uspace.git
	branch = deep-learning
[submodule "pantheon-modified/third_party/sage"]
	path = pantheon-modified/third_party/sage
	url = git@github.com:yhcchaos/sage-fabacc.git
[submodule "pantheon-modified/third_party/pantheon_tunnel"]
	path = pantheon-modified/third_party/pantheon_tunnel
	url = https://github.com/yhcchaos/pantheon_tunnel.git
[submodule "pantheon-modified/third_party/ledbat"]
	path = pantheon-modified/third_party/ledbat
	url = https://github.com/bittorrent/libutp.git
[submodule "pantheon-modified/third_party/sprout"]
	path = pantheon-modified/third_party/sprout
	url = https://github.com/keithw/sprout.git
